@{
    ViewData["Title"] = "Home Page";
}



<h1> <label>This is for movie lovers</label> </h1>
<h2> <label>Цей застосунок - база з вашими улюбленими фільмами</label> </h2>
<p> <img src="https://i.pinimg.com/originals/bd/d2/a2/bdd2a259d69e44a05b41b384c17aa4f4.jpg" /></p>





